<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{$basePath}/img/rtsoft-favicon.png">
	<script src="https://kit.fontawesome.com/2df5897c60.js" crossorigin="anonymous"></script>
	<title>RTsoft</title>
</head>

<body>

	{block nav}
		<nav class="">
			<div class="nav-block">
				<img src="{$basePath}/img/rtsoft-logo.png">
			</div>
			<div class="nav-block">
				<a n:href="default">
					Domů
				</a>
			</div>
			<div class="nav-block">
				<a n:href="Homepage:listProducts">
					Seznam produktů
				</a>
			</div>
		</nav>
	{/block}
	<div class="article-green">
		<div class="layout">
			<div class="article-green-title">
				{block title}
				{/block}
			</div>
			{foreach $flashes as $flash}
				<div class="flash {$flash->type}">
					<span n:if="$flash->type == 'info'">
						<i class="fa-solid fa-circle-info"></i>
					</span>
					<span n:if="$flash->type == 'warning'">
						<i class="fa-solid fa-circle-exclamation"></i>
					</span>
					<span n:if="$flash->type == 'error'">
						<i class="fa-solid fa-circle-xmark"></i>
					</span>
					{$flash->message}
				</div>
			{/foreach}

	{include content-dashboard}
		</div>
	</div>
	<div class="layout">
	{block content}
	{/block}
	</div>
	{block footer}

	{/block}
	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
