{block title}
    Vytvoření produktu
{/block}
{block content-dashboard}
{form createProduct}
    <div class="flex flex-wrap">
        <div class="form-inline-block">
            <div class="input-block">
                <div class="input-block-title">
                    Jméno
                </div>
                {input name}
            </div>
            <div class="input-block">
                <div class="input-block-title">
                    Cena v CZ
                </div>
                {input priceCZ}
            </div>
            <div class="input-block">
                <div class="input-block-title">
                    Datum
                </div>
                {input date}
            </div>
            <div class="input-block">
                <div class="input-block-title">
                    Kategorie
                </div>
                {input category}
            </div>
        </div>
        <div class="form-inline-block">
            <div class="input-block">
                <div class="input-block-title">
                    Štítky
                </div>
                {input tag}
            </div>
            <div class="input-block">
                <div class="input-block-title">
                    Dostupnost
                </div>
                {input active}
            </div>
        </div>
    </div>
    <div class="">
        {input send}
    </div>
{/form}