{block title}
    Dashboard
{/block}
{block content-dashboard}
<div class="dash-info">
    <div class="dash-block">
        <div class="dash-block-title">
            Produktů
        </div>
        <div class="dash-block-info">
            {$productCount}
        </div>
    </div>
    <div class="dash-left-border dash-block">
        <div class="dash-block-title">
            Kategorie
        </div>
        <div class="dash-block-info">
            {$categoryCount}
        </div>
    </div>
    <div class="dash-left-border dash-block">
        <div class="dash-block-title">
            Štítky
        </div>
        <div class="dash-block-info">
            {$tagsCount}
        </div>
    </div>
</div>
{/block}
{block content}
    <div class="article-title">
        Akce
    </div>
    <div class="action flex">
        <a n:href="Homepage:createProduct">
            <div class="action-block">
                <div class="action-block-title">
                    Vytvořit produkt
                </div>
                <div class="action-block-i">
                    <i class="fa-solid fa-circle-plus"></i>
                </div>
            </div>
        </a>
    </div>
{/block}