{block title}
    Editování produktu
{/block}
{block content-dashboard}
{form editProduct}
    <div class="form-inline-block">
        <div class="input-block">
            <div class="input-block-title">
                ID
            </div>
            {input idView}
        </div>
        <div class="input-block">
            <div class="input-block-title">
                Jméno
            </div>
            {input name}
        </div>
        <div class="input-block">
            <div class="input-block-title">
                Cena v CZ
            </div>
            {input priceCZ}
        </div>
        <div class="input-block">
            <div class="input-block-title">
                Datum
            </div>
            {input date}
        </div>
    </div>
    <div class="form-inline-block">
        <div class="input-block">
            <div class="input-block-title">
                Kategorie
            </div>
            {input category}
        </div>
        <div class="input-block">
            <div class="input-block-title">
                Štítky
            </div>
            {input tag}
        </div>
        <div class="input-block">
            <div class="input-block-title">
                Dostupnost
            </div>
            {input active}
        </div>
    </div>
    <div class="">
        {input send}
    </div>
{/form}
