{block title}
    Seznam produktů
{/block}
{block content-dashboard}
        <table class="table-list" n:if="$productCount >= 1">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Jméno
                    </th>
                    <th>
                        Kategorie
                    </th>
                    <th>
                        Cena v CZK
                    </th>
                    <th>
                        Cena v EU
                    </th>
                    <th>
                        Datum
                    </th>
                    <th>
                        Štíťky
                    </th>
                    <th>
                        Dostupnost
                    </th>
                </tr>
            </thead>
            <tr n:foreach="$products as $product">
                <td data-label="ID">
                    {$product->id}
                </td>
                <td data-label="Jméno">
                    {$product->name}
                </td>
                <td data-label="Kategorie">
                    {$product->ref("category")->name}
                </td>
                <td data-label="Cena v CZK">
                    {$product->priceCZK} Kč
                </td>
                <td data-label="Cena v EU">
                    {$product->priceEU} €
                </td>
                <td data-label="Datum">
                    {$date = date_format($product->date,'d. m. Y')}
                </td>
                <td data-label="Štíťky">
                    {foreach $product->related("product_tag") as $product_tag}
                        <div class="table-tag">
                            <i class="fa-solid fa-tag"></i>
                            {$product_tag->id->name}
                        </div>
                    {/foreach}
                </td>
                <td data-label="Dostupnost">
                    <div class="table-active-flex">
                        <div n:if="$product->active == 1" class="table-active table-active-true">
                            Dostupný
                            <div class="table-active-circle"></div>
                        </div>
                        <div n:if="$product->active == 0" class="table-active table-active-false">
                            Nedostupný
                            <div class="table-active-circle"></div>
                        </div>
                    </div>
                </td>
                <td class="table-list-block-action">
                    <a n:href="Homepage:editProduct $product->id">
                        <div class="table-list-action update">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Upravit
                        </div>
                    </a>
                </td>
                <td class="table-list-block-action">
                    <a n:href="Homepage:deleteProduct $product->id">
                        <div class="table-list-action delete">
                            <i class="fa-solid fa-trash-can"></i>
                            Smazat
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>
{/block}
