:root{
    --font-main: 'Open Sans', sans-serif;
}
/*
    Shortcuts
 */
.flash{
    width: max-content;
    padding: 20px;
    border-radius: 4px;
    margin-bottom:20px;
}
.flash i{
    margin-right: 6px;
}
.info{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.warning{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.flex{
    display:flex;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-one{
    flex:1;
}
body{
    margin:0;
    padding:0;
}
nav{
    position:relative;

    margin:24px 28px 24px 28px;

    display:flex;
    align-items: center;

    background-color:white;
}
nav::after{
    position:absolute;
    top:-60px;
    right:13px;

    content:'';

    transform:rotate(25deg);
    background-color:#6AB42D;
    width:120px;
    height:220px;
}
nav::before{
    position:absolute;
    top:-60px;
    right:280px;

    content:'';

    transform:rotate(25deg);
    background-color:#6AB42D;
    width:120px;
    height:220px;
}
nav .nav-block{
    display:inline-block;
    margin-right:80px;

    font-family: var(--font-main);
    font-size:24px;
}
nav .nav-block img{
    width:200px;
}
nav .nav-block a{
    text-decoration: none;
    color:black;
}
.layout{
    width:90%;
    margin:0 auto;
}
.input-block input, .input-block select{
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-bottom:10px;
    margin-right: 50px;
}
.form-inline-block{
    display:inline-block;
}
input[type="submit"]{
    margin-top:10px;

    background-color: black;
    color: white;
    font-weight: bold;
    padding: 15px 50px 15px 50px;
    cursor:pointer;

    font-size: 16px;
    border-radius: 4px;
    border: none;
}
.input-block-title{
    font-size:16px;
    font-weight: bold;
    font-family:var(--font-main);
    margin-bottom:2px;
}
/*
    Article´s
 */
.article-green{
    padding:40px 0 40px 0;
    background-color:#6AB42D;
    color:white;
}
.article-green-title{
    margin-bottom:80px;

    color:white;
    font-family: var(--font-main);
    font-size:48px;
    font-weight: bold;
}
.article-title{
    margin-top:40px;
    margin-bottom:40px;

    font-family: var(--font-main);
    font-size:48px;
    font-weight: bold;

}
/*
    Dashboard
 */
.dash-info{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    margin-bottom:60px;

    font-family: var(--font-main);
}
.dash-block{
    margin-left:-1px;
    display: inline-block;
    margin-right:40px;
    margin-bottom:20px;
    padding-left: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.22);
}
.dash-block-title{
    color: rgba(255, 255, 255, 0.7);
    font-size:24px;
}
.dash-block-info{
    margin-top:20px;

    text-align: left;
    font-size:36px;
}
/*.dash-left-border{*/
/*    padding-left:80px;*/
/*    border-right: 1px solid rgba(255, 255, 255, 0.22);*/
/*}*/
/*
    Action
 */
.action{
    font-family: var(--font-main);
}
.action-block{
    position:relative;

    background-color:#6AB42D;
    width:200px;
    height:160px;
    border-radius:4px;

    display:flex;
    justify-content: center;
}
.action a{
    text-decoration:none;
    color:white;
    font-weight: bold;

    font-size:18px;
    margin-right:40px;
}
.action-block-title{
    position:absolute;
    top:50px;
}
.action-block-i{
    position:absolute;
    bottom:30px;

    font-size:30px;
}
.table-list{
    width:auto;
    padding:10px;
    background-color:white;
    border-radius:4px;

    color:black;
    font-family: var(--font-main);
}
.table-list th, .table-list td{
    text-align: left;
    padding:8px 15px 8px 15px;
}
.table-list-tr{
    border-top:1px solid #DFDFDF;
}
.table-tag{
    margin:0 4px 4px 0;
    padding:4px 8px 4px 8px;
    background-color:#E3E3E3;
    border-radius:4px;
    width: auto;
    display:inline-block;
}
.table-tag i{
    margin-right: 4px;
}
.table-active{
    display:flex;
    align-items: center;

    background-color:#5EA127;
    padding:4px 8px 4px 8px;
    border-radius:4px;
    width: fit-content;


    color:white;
    font-weight: bold;
}
.table-active-circle{
    width:12px;
    height: 12px;
    border-radius:50%;
    background-color:white;
    display:inline-block;
    margin-left:4px;
}
.table-active-true{
    background-color:#5EA127;
}
.table-active-false{
    background-color:#C92121;
}
.table-list-block-action a{
    text-decoration: none;
}
.table-list-action{
    padding:10px 24px 10px 24px;
    background-color:black;
    border-radius:4px;
    color:white;
}
.delete{
    color:#f10000;
    background-color:white;
    border: 2px solid #f10000;

    transition:0.3s;
}
.delete:hover{
    background-color:#f10000;
    color:white;
}

@media only screen and (max-width: 600px) {
    .table-list {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    nav{
        display:block;
    }
    nav .nav-block{
        display:block;
    }
}
@media only screen and (max-width: 1130px) {
    nav::before, nav:after{
        display:none;
    }
    .table-list {
        padding:0;
        background-color:transparent;
    }
    .table-list thead{
        display:none;
    }
    .table-list tr{
        display: block;

        margin-bottom: 20px;
        padding: 10px;

        background-color: white;
        border-radius: 4px;
    }
    .table-list td{
        text-align: right;
        display:block;
    }
    .table-list td:before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .table-active-flex{
        display:flex;
        justify-content: right;
    }
    .table-list-action{
        text-align: center;
    }
    input[type="submit"]{
        width:100%;
    }

}